body{
    text-align:center;
    background-color:#fffef8;
    color:#151515;
}
footer{
    background-color:#eeeeee;
    color:#232323;
    font-size:80%;
    margin:3vh 2vw;
}
.logo{
    margin:3vh 0px;
    width:30vw;
    height:auto;
}
.startbutton{
    margin:6vh 2vw;
    border:3px solid #ff4dcc;
    background-color:#ffcaf5;
    padding:2vh 5vw;
    text-decoration:none;
}
.startbutton:hover{
    border:3px solid #ffcaf5;
    background-color:#ff4dcc;
}
.choicebutton{
    margin:1vh 2vw;
    border:3px solid #ff4dcc;
    background-color:#ffcaf5;
    padding:3vh 0;
    width:45vw;
    text-decoration:none;
}
.choicebutton:hover{
    font-size:110%;
    border:3px solid #ffcaf5;
    background-color:#ff4dcc;
}
.distance-image img{
    width:20vw;
    height:auto;
}
#most-close{
    text-align:inline-block;
    margin:1vw auto;
    width:75%;
    background-color:#ffffcc;
    border:3px solid #ff4dcc
}
#most-far{
    text-align:inline-block;
    margin:1vw auto;
    width:75%;
    background-color:#ccffff;
    border:3px solid #ff4dcc;
}
.param{
    height:10vh;
    width:15vw;
}
.graph{
    height:10vh;
    width:30vw;
}
h1, .strong-1, .horse-name {
    font-size: 28px;
}

h2, .strong-2, .horse-characteristics {
    font-size: 22px;
}

h3, .strong-3, .distance {
    font-size: 18px;
}

h4, .strong-4, {
    font-size: 14px;
}

h5, .strong-5 {
    font-size: 12px;
}

h6, .strong-6 {
    font-size: 8px;
}
.result-container, .point{
    font-weight: bold;
}